<div class="card-body">
    <h5 class="card-title">Inscription</h5>

    <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <div class="form-group">
            <div id="contain-email">

                <label for="email">Email</label><br>

                <input type="text" formControlName="email" id="email" class="form-control" required placeholder="email">

                <div *ngIf="email?.errors && (email?.errors?.['required'] === true) && (email?.dirty || email?.touched)"
                    class="alert">email is required
                </div>

                <div *ngIf="email?.errors && (email?.errors?.['email'] === true) && (email?.dirty || email?.touched)"
                    class="alert">email is badly formatted
                </div>

            </div>

            <div id="contain-password">

                <label for="password">Password</label><br>
                <input type="password" formControlName="password" id="password" class="form-control" required
                    placeholder="password">

                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert">password
                    is
                    required
                </div>


                <div *ngIf="password?.errors && (password?.errors?.['minlength'] === true) && (password?.dirty || password?.touched)"
                    class="alert">password should be 4 characters long
                </div>

            </div>

            <div class="form-group">
                <button [disabled]="registerForm.pristine || !this.registerForm.valid">inscription</button>
            </div>

        </div>
    </form>
</div>