<div class="card-article">
    <div *ngIf="article$ | async as article">
        <h3>{{ article.title }}</h3>

        <p class="creation-date">
            Mis en ligne {{ article.creationDate | date: 'à HH:mm, le d MMMM yyyy' }} par
            {{ article.author }}
        </p>

        <img *ngIf="article.image" [src]="env.apiUrl + '/images/' + article.image" />

        <p class="article-content">{{article.content}}</p>

        <button *ngIf="this.authService.isConnected" id="like" (click)="like()">{{ article.usersLiked.length
            }}👍</button>
        <div *ngIf="!this.authService.isConnected">{{ article.usersLiked.length }}👍</div>

        <button *ngIf="this.authService.isAdmin || this.authService.ownArticle(article)" id="update-article"
            [routerLink]="['/article', article._id, 'edit']">
            Modifier l'article
        </button>

        <button *ngIf="this.authService.isAdmin || this.authService.ownArticle(article)" id="delete-article"
            (click)="delete()">
            Supprimer l'article
        </button>
    </div>
</div>