.card-article {
    box-sizing: border-box;
    width: 60%;
    margin: 40px auto;
    padding: 20px 30px;
    background-color: white;
}

h3 {
    text-align: center;
    color: #FD2D01;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.creation-date {
    color: #4E5166;
    font-size: small;
    padding-bottom: 1rem;
}

img {
    width: 100%;
}

.article-content {
    padding-top: 1rem;
    text-align: justify;
}

#like {
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 4px;
    cursor: pointer;
    background-color: #4E5166;
    color: white;
}

#like:hover {
    background-color: #FFD7D7;
    color: black;
}

#like:active {
    background-color: #FD2D01;
}

#update-article {
    height: 2rem;
    width: 10rem;
    margin: 3rem auto 0;
    color: white;
    background: #4E5166;
    border-radius: 5px;
    display: inline-block;
    font-weight: 700;
    box-shadow: 0px 0px 5px lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

#delete-article {
    height: 2rem;
    width: 10rem;
    margin: 1rem auto 0;
    color: white;
    background: #FD2D01;
    border-radius: 5px;
    display: inline-block;
    font-weight: 700;
    box-shadow: 0px 0px 5px lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}