<div class="card-article">
    <div *ngIf="article$ | async as article">
        <h3>{{ article.title }}</h3>
        <p class="creation-date">Mis en ligne {{ article.creationDate | date: 'à HH:mm, le d MMMM yyyy' }} par
            {{ article.author }}</p>
        <p class="article-content">{{article.content}}</p>

        <button id="like" (click)="like()">
            <i class="fa-solid fa-thumbs-up"></i>
        </button>

        <button id="update-article" *ngIf="id" [routerLink]="['/article', article._id, 'edit']">Modifier
            l'article
        </button>

        <button id="delete-article" *ngIf="id" (click)="delete()">Supprimer l'article</button>
    </div>
</div>