<!-- Ici s'affiche chaque components vers lesquels on aura rooté -->
<header>
    <figure id="logo-header">
        <img src="assets/icon-left-font-removebg-preview.png" alt="Groupomania logo">
    </figure>

    <ul class="menu">
        <li>
            <!-- Lien vers les articles -->
            <a [routerLink]="['articles']" class="nav-link" href="#">Accueil</a>
        </li>
        <li>
        <li *ngIf="this.authService.isConnected">
            <!-- Lien pour créer un nouvel article -->
            <a [routerLink]="['admin/article-new']" class="nav-link" href="#">créer un post</a>
        </li>

        <li *ngIf="!this.authService.isConnected">
            <!-- Lien pour s'inscrire -->
            <a [routerLink]="['auth/register']" class="nav-link" href="#">Inscription</a>
        </li>

        <li *ngIf="!this.authService.isConnected">
            <!-- Lien pour se connecter -->
            <a [routerLink]="['auth/login']" class="nav-link" href="#">Connexion</a>
        </li>

        <li *ngIf="this.authService.isConnected">
            <!-- Bouton pour se déconnecter -->
            <button (click)="this.authService.disconnect()">
                <i class="fa-solid fa-power-off"></i>
            </button>
        </li>
    </ul>
</header>

<footer>

    <ul class="footer-list">
        <li><a>Mentions légales</a></li>
        <li><a href="mailto:contact@orinoco.com">Contact</a></li>
    </ul>

</footer>

<router-outlet></router-outlet>