<header>
    <figure id="logo-header">
        <img src="assets/icon-left-font-removebg-preview.png" alt="Groupomania logo">
    </figure>

    <ul class="menu">
        <li>
            <!-- Lien vers les articles -->
            <a [routerLink]="['']" class="nav-link" href="#">
                <i class="fa-solid fa-house"></i>
                <p>Accueil</p>
            </a>
        </li>

        <li *ngIf="this.authService.isConnected">
            <!-- Lien pour créer un nouvel article -->
            <a [routerLink]="['article/create']" class="nav-link" href="#">
                <i class="fa-solid fa-file-pen"></i>
                <p>Créer un post</p>
            </a>
        </li>

        <li *ngIf="!this.authService.isConnected">
            <!-- Lien pour s'inscrire -->
            <a [routerLink]="['auth/register']" class="nav-link" href="#">Inscription</a>
        </li>

        <li *ngIf="!this.authService.isConnected">
            <!-- Lien pour se connecter -->
            <a [routerLink]="['auth/login']" class="nav-link" href="#">Connexion</a>
        </li>

        <li *ngIf="this.authService.isConnected">
            <!-- Bouton pour se déconnecter -->
            <button id="disconnect" (click)="this.authService.disconnect()">
                <i class="fa-solid fa-power-off"></i>
                <p>Déconnexion</p>
            </button>
        </li>
    </ul>
</header>

<router-outlet></router-outlet>

<footer>
    <ul class="footer-list">
        <li><a>Mentions légales</a></li>
        <li><a href="mailto:contact@orinoco.com">Contact</a>
    </ul>
</footer>