<!-- Mettre à jour -->
<div class="card-article">

    <!-- gestion d'erreurs de création d'articles -->
    <form [formGroup]="articleForm" (ngSubmit)="submit()">
        <h3>Mettre à jour le post</h3>
        <div class="form-group">
            <input type="text" formControlName="title" class="form-control" id="articleTitle"
                placeholder="titre du post" required>

            <!-- gestion des erreurs au niveau du titre du post (obligatoire) -->
            <div *ngIf="title!.invalid && (title!.dirty || title!.touched)" class="alert alert-danger">le titre du post
                est
                obligatoire!</div>
        </div>

        <div class="form-group">
            <textarea formControlName="content" class="form-control" id="articleContent" required rows="3"></textarea>

            <!-- gestion des erreurs au niveau du contenu du post (obligatoire) et doit avoir une longeur minimum 
            de 4 caractères  -->
            <div *ngIf="content?.errors && (content?.errors?.['minlenght'] !== null) && (content?.dirty || content?.touched)"
                class="alert alert-danger">
                le contenu de l'artice est trop court! (min 4 caractères)
            </div>
        </div>

        <div class="form-group">

            <!--On n'affiche pas le bouton de création de post si le formulaire de l'article n'a pas été touché 
            ou qu'il n'est pas valide  -->
            <button id="update-article" [disabled]="articleForm.pristine || !this.articleForm.valid">mettre à jour le
                post</button>
        </div>
    </form>

    <div *ngIf="(response$ | async) as res"></div>

    <!-- gestion d'erreurs de création d'articles -->
    <div *ngIf="error" class="alert alert-danger">
        Une erreur s'est produite, veuillez réessayer plus tard.
    </div>

</div>