/* Style mise à jour d'un post */
.card-create-new-article {
    box-sizing: border-box;
    width: 60%;
    margin: 40px auto;
    padding: 20px 30px;
    background-color: white;
}

h3 {
    text-align: center;
    color: #FD2D01;
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.form-group {
    box-sizing: content-box;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

#articleContent,
#articleTitle {
    font-family: "Lato";
}

#ancienneImage {
    width: 15rem;
    max-width: 30vw;
    border-radius: 0.2rem;
    box-shadow: 0 0 2px black;
    color: #4E5166;
    margin-bottom: 1rem;
}

.old-image {
    padding-bottom: 1rem;
}

#update-article {
    padding: 6px 8px;
    margin: 3rem auto 0;
    color: white;
    background: #4E5166;
    border-radius: 5px;
    display: inline-block;
    font-weight: 700;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group input {
    box-sizing: content-box;
    align-items: center;
    width: 40%;
}

.form-group textarea {
    box-sizing: content-box;
    align-items: center;
    width: 60%;
    height: 40%;
}

.submit-button-update {
    background-color: #FD2D01;
    padding: 4px;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

@media all and (max-width: 800px) {

    .form-group input {
        width: 70%;
    }

    .form-group textarea {
        width: 70%;
        height: 60%;
    }

}