/* Fichier style global de l'application*/

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: "Lato";
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background-color: #FFD7D7;
}

#app {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}